* {
	padding: 0;
	margin: 0;
}

.welcome {
	text-align: center;
	font-size: 30px;
	padding: 5px 0px;
	background-color: rgb(164, 66, 255);
	color: white;
}

.two-div {
	display: flex;
	margin: auto;
}

.div-1 {
	background-color: green;
	color: white;
	padding: 30px;
	/* max-width: 400px; */
}

.my-profile img {
	display: flex;
	margin: auto;
	border-radius: 10px;
	height: 350px;
	border: 2px solid white;
}

.myname {
	text-align: center;
	color: yellow;
	padding-top: 10px;
	font-size: 25px;
}

.description a {
	color: rgb(137, 137, 248);
}

.heading h3 {
	color: rgb(255, 232, 232);
	margin-top: 10px;
	px margin-bottom: 5px;
	font-size: 25px;
}

.eduction a {
	color: rgb(137, 137, 248);
}

.Stream a {
	color: rgb(137, 137, 248);
}

/* second div */

.div-2 {
	background-color: rgb(11, 179, 11);
	color: white;
	padding: 30px;
	width: 100%;
}

.heading-div h2 {
	font-size: 30px;
	color: yellow;
}

.btn {
	font-size: 30px;
	margin: 10px 0px;
	padding: 8px;
	cursor: pointer;
	background-color: darkblue;
	outline: none;
	color: white;
	border-radius: 10px;
}

.btn:hover {
	background-color: blue;
}

footer {
	background-color: rgb(164, 66, 255);
	color: white;
	padding: 5px 0px;
	margin: auto;
	display: flex;
	width: 100%;
}

footer a {
	margin: auto;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	font-size: 30px;
	width: 50px;
	text-align: center;
}

footer a:hover {
	background-color: yellow;
}

@media only screen and (max-width:742px) {
	.two-div {
		flex-direction: column;
	}
	.div-1 {
		width: 100%;
		padding: 0;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.div-2 {
		padding: 0;
		padding-top: 50px;
	}
	.two-div {
		background-color: green;
		padding: 10px;
	}
}