 body{
margin:auto;
 width:1024px;
  padding:10px;
 background-color:#ebebeb;
 font-size:14px;
 font-family:Verdana;
}
img{
	width:70%;
	border-radius:50%;
	
}
.left{
	
	text-align:center;
	margin-left:3%;
width:96%;
display:block;
}

.right{
	padding:1.01%;
	line-height:1.7;
	font-style:"Times New Roman";
	background-color:rgba(255,255,255,0.4);
	margin-left:4%;
	display:inline-block;
	width:92%;
	font-size:135%;
}
.pad{
padding:2%;}
button{
cursor:pointer;
padding-top:0.5%;
padding-bottom:0.5%;
	
color:white;
padding-left:5%;
padding-right:5%;
align-items: center;
 background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
button:hover{
background-color:blue;}
footer{
	padding-top:2%;
	padding-bottom:2%;
	display:block;
	background-color:rgba(200,120,255,0.3);
	margin-top:3%;
}

.dec a{
	font-size:200%;
	padding:1%;
margin-left:12%;

 }
 #insta{
	 margin-left:9%;
 }
 .dec a:hover{
	 border-radius:10%;
 background:rgba(255,255,255,0.3);
 }
 h1{margin:0px;
	 text-align:center;
	 padding-bottom:1%;
	 padding-top:1%;
 background:linear-gradient(white 0%, rgba(0,0,0,0) 100%);}
 h2{
 text-align:center;
 }
@media only screen and (min-width:700px){
body{
	margin-left:3%;
	margin-right:3%;
	background-color:rgba(0,0,0,0.3);
	border:1px double white;
}
img{
	width:100%;
	border-radius:50%;
}
.left{
	margin-left:1%;
width:20%;
display:inline-block;
float:left;
}
.right{
	padding:1%;
	line-height:1.7;
	font-style:"Times New Roman";
	background-color:rgba(255,255,255,0.4);
	margin-left:4%;
	display:inline-block;
	width:70%;
	font-size:135%;
}
button{
	cursor:pointer;
	padding-top:0.5%;
	padding-bottom:0.5%;
	background-color:#000066;
	color:white;
	padding-left:5%;
	padding-right:5%;
}
button:hover{
background-color:blue;}
footer{
	padding-top:2%;
	padding-bottom:2%;
	display:block;
	background-color:rgba(200,120,255,0.3);
	margin-top:3%;
}

.dec a{
	font-size:200%;
	padding:1%;
margin-left:12%;
margin-right:6%;
 }
 .dec a:hover{
	 border-radius:10%;
 background:rgba(255,255,255,0.3);
 }
 h1{margin:0px;
	 text-align:center;
	 padding-bottom:1%;
	 padding-top:1%;
 background:linear-gradient(rgb(254,254,254) 0%, rgba(0,0,0,0) 100%);}
 h2{
 text-align:center;
 }
 #eml{
 font-size:90.01%;}
 }


